.main {
  max-width: 1000px;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .main {
    padding: 8px;
  }
}

.h1 {
  padding: 0 16px;
}

.ul {
  margin: 0;
  padding: 0;
}

.li {
  list-style: none;
  margin: 8px 4px;
  border-radius: 4px;
  color: #222;
  background: #fbfafa;
  overflow: auto;
  content-visibility: auto;
  contain-intrinsic-size: 70px;
}

.li:nth-child(2n) {
  background: #f2f5ff;
}

.li .details[open] {
  border: 4px solid #5851ff;
  border-top: none;
  overflow-x: hidden;
}

.li .details > summary:before, .li .details > summary:after {
  content: '';
  display: block;
  padding: 7px 10px;
}

.li .details > summary {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: inherit;
  padding: 0 10px;
}

.li .details[open] > summary {
  padding: 0 6px;
}

.li .details summary {
  cursor: pointer;
}

.li .deets {
  padding: 0 10px;
  padding-bottom: 10px;
}

.li a {
  text-decoration: underline;
  font-weight: 800;
  margin: 16px 0 8px 0;
  display: block;
}

.li a::after {
  content: ' →';
}

.li .details[open] > summary, .li .details > summary:hover {
  background: #5851ff;
  color: #fff;
}

.score {
  display: inline-block;
}

.score > span {
  border-radius: 50px;
  color: #fff;
  padding: 8px;
  font-size: 18px;
  margin-right: 8px;
  min-width: 38px;
  display: block;
  text-align: center;
}

.score .green {
  background: green;
}

.score .orange {
  background: #ffa604;
  color: #222;
}

.score .red {
  background: #c70202;
}

li .path {
  font-size: 18px;
  font-weight: 600;
}

.dl {
    display: grid;
    width: 100%;
    grid-template-columns: 24.33% 24.33% 24.33% 24.33%;
    grid-column-gap: 10px;
    column-gap: 1%;
    margin-bottom: 12px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
  .dl {
    grid-template-columns: 1fr;
    width: 100%;
    display: block;
  }
}

.dl div dt, .dl div dd {
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  font-weight: 800;
  margin-top: 12px;
}